@font-face {
    font-family: "PT Sans", serif;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
    font-family: "PT Sans", serif;
    font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  }

  .main-container {
    flex-grow: 1;
  }

  .main {
    margin: 0 auto;
    width: 1200px;
  }

  .main-nav {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    width: 138px;
  }

  .site-navigation {
    display: flex;
    width: 339px;
    margin: 0;
    padding: 20px  16px;
    list-style-type: none;
  }

  .navigation-list-navigation-user{
    display: flex;
    width: 268px;
    list-style-type: none;
    margin-left: auto;
    padding: 8px 50px;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .sedona {
    display: block;
    margin: 0 auto;
  }

  .information-foto {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .information {

    width: 230px;
    margin: 0;
    padding: 103px 85px;
    background-color: #82B3D3;
  }

  .recommendations {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
  }

  .site-navigation-item {
    font-family: "PT Sans";
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  width: 100px;
}

.main-index {
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  font-size: 22px;
  line-height: 26px;
  background-repeat: no-repeat;
  text-align: center;
  }

  .real-town {

    width: 175px;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  }

  .town {

    width: 230px;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  }

  .bridge-photo {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .attractive {
    font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  text-align: center;
  margin: auto;
  }

  .invitation {
    font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 505px;
  text-align: center;
  margin: auto;
 }

.advantage-list {
  display: flex;
  width: 1200px;
    margin: 0 auto;
}

.advantages {
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  align-items: center;
}

.advantage {

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  align-items: center;
}

.advantages-list {
  width: 230px;
  padding: 103px 85px;
  list-style-type: none;
}

.bridge {
  width: 230px;
  margin: 0;
  padding: 102px 85px;
  background-color: #82B3D3;
}

.dates {
  width: 592px;
  text-align: center;
  margin: auto;
}

.offers {
  width: 1200px;
    margin: 0 auto;
}

.subscribe {
  width: 1200px;
    margin: 0 auto;
  background-image: url("../images/mountains.png");
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 400;
}

.sub {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 404px;
  text-align: center;
  margin: auto;
}

.sub-information {
width: 475px;
color: #FFFFFF;
text-align: center;
  margin: auto;
}

.want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.crumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.subscribe {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.hotels-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}
.page-footer-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.social-list {
  width: 142px;
}

.contacts-phone {
  width: 720px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.logo-html {
  width: 115px;
}

.catalog-filter-group {
  display: flex;
  width: 150,43px;
}

.catalog-filter-list {
  width: 112px;
}
